.s-o-l-home-container {
  min-height: 100vh;
}
.s-o-l-home-s-o-l-home {
  width: 100%;
  height: 498px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.s-o-l-home-group1 {
  top: 42px;
  left: 134px;
  width: 755px;
  height: 414px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.s-o-l-home-link {
  display: contents;
}
.s-o-l-home-rectangle2 {
  top: 0px;
  left: 405px;
  width: 350px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.s-o-l-home-link1 {
  display: contents;
}
.s-o-l-home-rectangle5 {
  top: 314px;
  left: 0px;
  width: 350px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.s-o-l-home-link2 {
  display: contents;
}
.s-o-l-home-rectangle1 {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.s-o-l-home-text {
  top: 40px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-o-l-home-link3 {
  display: contents;
}
.s-o-l-home-rectangle4 {
  top: 163px;
  left: 405px;
  width: 350px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.s-o-l-home-rectangle6 {
  top: 314px;
  left: 405px;
  width: 350px;
  height: 100px;
  position: absolute;
  border-color: transparent;
}
.s-o-l-home-text02 {
  top: 355px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-o-l-home-text04 {
  top: 40px;
  left: 427px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-o-l-home-text06 {
  top: 203px;
  left: 427px;
  color: rgba(0, 0, 0, 1);
  width: 312px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-o-l-home-link4 {
  display: contents;
}
.s-o-l-home-rectangle3 {
  top: 163px;
  left: 0px;
  width: 350px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(140deg, rgba(190, 248, 237, 1) 0%, rgba(190, 248, 237, 0) 100%);
}
.s-o-l-home-text08 {
  top: 205px;
  left: 22px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
